<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-family:Gamja+Flower:400">먹뽀소개</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <span style="color:red">길마 : 뽀송 (천사뽀송)</span>
              </br>
                <span style="color:blue">부길마 : 오르 (오르베우스) & 도갈 (Seahawks / 악마뽀송)</span>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
              <b>승리지향 길드. 시즌 마감 목표 : 10~20. 시즌당 평균 6승.</b>
              </br>
              길드원 현황 35 / 35
              </br>
              현재 길드원 모집 안하고 있습니다.
            </p>
        </div>
    </div>
</section>
