<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-family:'Gamja Flower'">먹뽀소개</h1>
        </div>
        <div class="col-sm-12 col-md-6" style="font-family:'Gamja Flower'">
            <p>
                <span style="color:red">길마 : 오르 (오르베우스 & 오디쓰)</span>
              </br>
                <span style="color:blue">부길마 : 샤노비 (디브레) & 도갈 (Seahawks / 악마뽀송)</span>
            </p>
        </div>
        <div class="col-sm-12 col-md-6" style="font-family:'Gamja Flower'">
            <p>
              <b>고계7먹지향 길드. 시즌 마감 목표 : in 50. 시즌당 평균 6승 이상.</b>
              </br>

              </br>
              <span style="color:orange">길드원 다수 모집중!</span>
              </br>
              <span style="color:orange">길드전 후공 어느정도 자신있는 길드원 구하고있어요~ (정찰도 환영!)</span>
            </p>
        </div>
    </div>
</section>
