<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>길드소개</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                길마 : 뽀송 (천사뽀송)
              </br>
                부길마 : 오르 (오르베우스) & 도갈 (Seahawks / 악마뽀송)
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                승리지향 길드. 시즌 마감 목표 : 10~20. 시즌당 평균 6승.
            </p>
        </div>
    </div>
</section>
