<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>톡방현황</h1>
            </div>
            <div class="col-md-4 container-contacts-phone">
                <i class="far fa-comment" aria-hidden="true"></i>
                <a href="{{ site.newmember }}">
                    신입방
                </a>
            </div>
            <div class="col-md-4 container-contacts-phone">
                <i class="far fa-comment" aria-hidden="true"></i>
                <a href="{{ site.opentalk }}">
                    오픈톡방
                </a>
            </div>
            <div class="col-md-4 container-contacts-phone">
                <i class="far fa-comment" aria-hidden="true"></i>
                <a href="{{ site.gwtalk }}">
                    길드톡방
                </a>
            </div>
        </div>
    </div>
</footer>
