<section class="container container-seasonfinalranking">
    <div class="row">
        <div class="col-md-12">
            <h1 style="font-family:'Gamja Flower'">시즌마감</h1>
        </div>
        <div class="col-md-12">
          <img src="./web-dist/images/season-28-result.jpg" class="img-rounded col-xs-6 col-sm-4" style="margin:10px" alt="{{ site.brand }}">
          <img src="./web-dist/images/season-29-result.jpg" class="img-rounded col-xs-6 col-sm-4" style="margin:10px" alt="{{ site.brand }}">
          <img src="./web-dist/images/season-30-result.jpg" class="img-rounded col-xs-6 col-sm-4" style="margin:10px" alt="{{ site.brand }}">
          <img src="./web-dist/images/season-31-result.jpg" class="img-rounded col-xs-6 col-sm-4" style="margin:10px" alt="{{ site.brand }}">
        </div>
        <!-- <div class="col-md-12" style="margin:10px"></div>
        <div class="col-md-12">
          <img src="./web-dist/images/season-31-result.jpg" class="img-rounded col-xs-6 col-sm-4" alt="{{ site.brand }}">
        </div> -->
    </div>
</section>
